# Build directories
build/

# IDE
.vscode/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake

# Binaries
*.a
*.bin
*.exe
*.out

!./Tests/Fibonacci.bin

# Ruby output
RubyAsm/src/outp.bin